{% load static %}
{% block article %} 
    {% for article in articles %}
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a href="{% url 'article_detail' article.pk %}" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    {% if article.image %}
                        <img class="card-img-top" src="{{ article.image.url }}" alt="Image de {{ article.titre }}"  style="width:200px;height:200px;float:center">
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Image par défaut">
                    {% endif %}
                </div>
                <span class="position-absolute tm-new-badge">Nouveauté</span>
                <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ article.titre }}</h2>
            </a>
            <p class="tm-pt-30">
               {{ article.contenu|truncatewords:20 }}...
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">Auteur: {{ article.auteur }} </span>
                <span class="tm-color-primary">Publication: {{ article.date_publication|date:"d M Y" }}</span>
            </div>
            <a href="{% url 'article_detail' article.pk %}" class="tm-btn tm-btn-primary mt-3">Détail</a>
            <hr>
        </article>
    {% endfor %}
{% endblock %}
