<!-- Search form and user actions -->
<div class="row tm-row">
    <!-- User actions -->
    <div class="col-12 d-flex justify-content-between align-items-center">
      <!-- User profile and logout button -->
      {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center">
          <a href="{% url 'logout' %}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-primary">Se Déconnecter</button>
          </a>
          <i class="fas fa-users-cog fa-4x tm-color-primary ml-2"></i>
          <span class="ml-2">Bonjour {{ request.user.username }}</span>
        </div>
      {% else %}
        <!-- Login button -->
        <a href="{% url 'login' %}" class="text-decoration-none">
          <button type="button" class="btn btn-outline-info">Se Connecter</button>
        </a>
      {% endif %}
    </div>
  </div>