	{% comment %} Le header le menu à gauche du site {% endcomment %}
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-book fa-2x"></i></div> 
                <a href="#" class="tm-nav-link">           
                <h4 class="text-center">Sama Blog</h4>
                </a>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'article_list' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog
                    </a></li>

                    {% comment %} <li class="tm-nav-item"><a href="{% url 'article_new' %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Créez Un Article
                    </a></li> {% endcomment %}
                    {% if request.user.is_authenticated %}
                    <li class="tm-nav-item {% if request.resolver_match.url_name == 'article_new' %}active{% endif %}">
                        <a href="{% url 'article_new' %}" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            Créez Un Article
                        </a>
                    </li>
                {% endif %}
                    
                </ul>
            </nav>

        </div>
    </header>