{% extends 'base.html' %}
{% load static %}

{% block corps %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Modifier l'Article</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_titre" class="form-label"><strong>Titre de l'article</strong></label>
                            {{ form.titre }}
                        </div>

                        <div class="mb-3">
                            <label for="id_contenu" class="form-label"><strong>Contenu</strong></label>
                            {{ form.contenu }}
                        </div>
                        <div class="mb-3">
                            <label for="id_contenu" class="form-label"><strong>Auteur</strong></label>
                            {{ form.auteur }}
                        </div>

                        <div class="mb-3">
                            <label for="id_image" class="form-label"><strong>Image de l'article</strong></label>
                            {{ form.image }}
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'article_detail' article.pk %}" class="btn btn-secondary">Annuler</a>
                            <button type="submit" class="btn btn-success">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
